.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardRounded{
  border-radius: 20px;
}
.App-link {
  color: #09d3ac;
}

.background-solid{
  background-color:white;
}

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
  
.card-img-caption .card-img-top {
  z-index: 0;
}
    
.card-img-caption .card-text {
  text-align: center;
  width: 100%;
  margin: 25% 0;
  position: absolute;
  z-index: 1;
}

.card-small-text {
  text-align: center;
  width: 100%;
  margin: 44% 0;
  position: absolute;
  z-index: 1;
}